* {
  font-family: "Montserrat", serif;
  font-size: 20px;
  color: #0D2149;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9EBE0;
}

code {
  font-family: "Montserrat", serif;
}

.bold {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}